

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
max-width: 1280px;
margin: 0 auto;


}

.flex {
    display: flex;

}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {

color: #5c5c5c;
text-decoration: none;
display: inline-block;
transition: .2s;
}


header a:hover {
color: #fff;
transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}
.btn-contato button {

    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #924FF0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
h2.titulo {
   color: white;
   font-size: 38px;
    text-align: center;
    
}
h2.titulo span {
    color: #924FF0;
}

 .btn-contato button:hover {
    box-shadow: 0px 0px 8px #805db1;
    transform: scale(1.05);
}

section.topo-do-site {
    padding: 40px 4%;
}

section.img-topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1 {
    color: white;
    font-size: 38px;
    font-size: 42px;
    line-height: 40px;
}


.img-topo-site img {
    width: 350px;
    border-radius: 30px;
    padding: 15px;
}

.topo-do-site h1 span {
    color: #805db1;
    font-size: 67px;
}

.topo-do-site .txt-topo-site p {
    color:white;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {

    color: white;
    border: 2px solid white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.464);
    
}

.especialidades .especialidades-box i {
    font-size: 75px;
    color: #924FF0;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0px;
}


section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre {
    color: white;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #924FF0;
    display: block;
}
.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.img-sobre img{
    width: 500px;
    border-radius: 40px;

}

.logo img {
    width: 100px;
    background: none;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #924FF0;
    border: none;
    font-size: 22px;
    cursor: pointer;

}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #805db1;
    transform: scale(1.05);
}

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;


}

section.portifolio .flex {
    justify-content: space-around;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}
.img-port:hover {
background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
}

.overlay:hover{
    opacity: 1;
}

@media (max-width: 320px) {
    .logo img {
        display: none;
    }
}

@media (max-width: 320px) {
    header > .interface {
        display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    }
}

@media (max-width: 320px) {
    section.especialidades .flex {
        gap: 60px;  
        flex-direction: column;
}
}

@media (max-width: 320px) {
    .img-topo-site img {
        display: none;
    }
}

@media (max-width: 320px) {
    .img-sobre img {
        display: none;
    }
}

@media (max-width: 320px) {
    header nav ul {
        display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }
}


.svg {
    width: 100px;
    margin-top: 60px;
    padding: 20px;

}

.imagem-svg:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 2s;
    background-color: black;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }


section.formulario {
    padding: 80px 4%;
    
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    

}

form input, form textarea {
    width: 100%;
    background-color: #5f5f5f32;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    

}

form input::placeholder {
    color: #924FF0;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;


}

form .btn-enviar input {
    width: 120px;
    background-color: #805db1;
    color: #000;
    cursor: pointer;
    transition: 1.2s;
}

/* Adicionando estilos ao botão na página principal */

.botao-redirecionar {
    text-align: center;
    margin-top: 20px;
}

.botao-redirecionar .btn button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.botao-redirecionar .btn button:hover {
    background-color: #0056b3;
}
